body {
  background-color: black;
}



div {
  text-align: center;
  
  padding:1.5em;
}
h1{
  color: white;
}

button {
  height: 2.5em;
  width: 5.5em;
  border: none;
  color: black;
  border-radius: 15px;
  margin: 5px;
}

button:hover{
  cursor: pointer;
  color: white;
 
}



.start {
  background-color: green;
}


.pause {
  background-color: rgb(174, 174, 62);
}

.stop {
  background-color: red;
}

